parameters:

services:
    cf.settingsbundle:
        class: Cf\SettingsBundle\Listener\CfSettingsListener
        arguments: ['@service_container']
        calls:
            - [ update_settings, [ @?, @? ] ]